/******************* Start Global Rules *******************/
:root {
    --main-color: #E6E6FA;
    --main-color-alt: #D3D3D3;
    --section-background: #CE49BF;
    --second-color: #D8BFD8;
    --color-text: #4682B4;
    --color-text-hover: #007bff;
    --background-one: #00CED1;
    --background-two: #BDB76B;
    --background-three: #F0F8FF;
    --main-transition: 0.3s;
    --main-padding: 100px;
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-vark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(214, 4%, 69%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
}

.mc {
    color: var(--main-color);
}

.mca {
    color: var(--main-color-alt);
}

.sbcc {
    background-color: var(--section-background);
}

.sc {
    color: var(--second-color);
}

.c-t {
    color: var(--color-text);
}

.cth {
    color: var(--color-text-hover);
}

.bcc-one {
    background-color: var(--background-one);
}

.bcc-two {
    background-color: var(--background-two);
}

.bcca {
    background-color: var(--main-color-alt);
}

.c-two {
    color: var(--background-two);
}

.bcc-three {
    background-color: var(--background-three);
}

.transition {
    transition: var(--main-transition);
}

.m-p-d {
    padding: var(--main-padding);
}

.hover {
    position: relative;
    transition: var(--main-transition);
    cursor: pointer;
}

.hover:hover {
    color: var(--color-text-hover);
}

.section-bcc {
    background-color: var(--main-color);
}

.foot-bcc {
    background-color: var(--color-text-hover);
}

.brder-out {
    border: none !important;
    outline: none !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    transition: background .2s linear;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/******************* Small *******************/
@media (min-width: 765px) {
    .container {
        width: 750px;
    }
}

/******************* Medium *******************/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/******************* Large *******************/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/******************* Start Button *******************/
.btn {
    outline: none;
}

.btn-me:hover {
    animation: pulsate 1s ease-in-out;
}

/******************* End Button *******************/
/****************** Start lock **********/
.unlock {
    display: none;
    transition: 1s;
}

.up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: .5s;
    opacity: 0;
    z-index: 95;
}

.up .btn-outline-primary:focus {
    box-shadow: none !important;
}
.up button i {
    animation: up 1s infinite linear;
}

[type=button]:not(:disabled),
button:not(:disabled) {
    border: none;
    transition: var(--main-transition);
}

[type=button]:not(:disabled):hover,
button:not(:disabled):hover {
    background-color: var(--color-text);
}

/******************* Start Lock *******************/
.container-lock {
    width: 400px;
    height: 600px;
    margin: 50px auto 0;
    background-color: rgb(190 189 189);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    animation: lock .5s linear;
    border: 30px solid rgb(190 189 189);
    background-color: transparent;
    box-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
        transition: 1s;
}

.container-lock .lock {
    width: 99%;
    height: 99%;
    border: 30px solid rgb(190 189 189);
    background-color: rgb(190 189 189);
    transition: .3s;
}
.container-lock .lock.open {
    transform: rotateY(48deg) translateX(80px);
    box-shadow: -10px 16px 40px -20px #919191;
}
.container-lock .one {
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    left: 10%;
    top: 40%;
    transition: var(--main-transition);
    border: 2px inset;
}

.container-lock .two {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border: none;
    border-radius: 50%;
    top: 10%;
    left: 50%;

}

.container-lock .three {
    position: absolute;
    width: 15px;
    height: 30px;
    background-color: black;
    top: 51%;
    left: 12%;
    z-index: 9;
    opacity: 0;
}

.container-lock .image img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 6%;
    transition: var(--main-transition);
    overflow: hidden;
    z-index: 10;
}

.container-lock .image::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    top: 53%;
    left: 10%;
    border-radius: 50%;
}

.container-lock:hover .image::after {
    background-color: black;
}

.container-lock .halved {
    z-index: 5;
    width: 100px;
    height: 100px;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
}

.container-lock:hover .one {
    transform: rotate(360deg);
}

.container-lock .click {
    position: absolute;
    bottom: 0;
    color: var(--color-text-hover);
}

@media (max-width: 500px) {
    .container-lock {
        margin: 20px auto 0;
        width: 300px;
        height: 500px;
    }
}

/****************** Start NavBar **********/
nav {
    position: fixed;
    width: 100%;
    z-index: 98;
    top: -15px;
}

nav .container-me {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid var(--Grayish-blue);
    box-shadow: 0px 0px 40px -25px #000;
    height: 100px;
}

nav .box-link {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .box-link .side-bar {
    height: 40px;
    width: 40px;
    position: relative;
    border-radius: 15px;
    z-index: 100;
    display: none;
    padding-bottom: 65px;
    padding-left: 50px;
}

nav .box-link .side-bar span {
    height: 4px;
    width: 25px;
    display: block;
    position: absolute;
    background: var(--color-text);
    transition: var(--main-transition) ease-in-out;
    cursor: pointer;
    left: 10px;
}

nav .box-link .side-bar span:nth-child(1) {
    top: 16px;
}

nav .box-link .side-bar span:nth-child(2) {
    top: 23px;
}

nav .box-link .side-bar span:nth-child(3) {
    top: 30px;
}

nav .box-link .side-bar.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 22px;
    left: 10px;
    background-color: var(--color-text-hover);
}

nav .box-link .side-bar.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}

nav .box-link .side-bar.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 22px;
    left: 10px;
    background-color: var(--color-text-hover);
}

.nav_bar .box-link .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bar .box-link .logo>a {
    font-size: 40px;
    font-weight: 700;
    color: var(--color-text);
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

nav .box-link ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none !important;
}

nav .box-link ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    transition: var(--main-transition);
}

nav .box-link ul li a h4 {
    padding-top: 10px;
}

nav .box-link ul li a {
    text-decoration: none;
    position: relative;
    color: var(--color-text);
    transition: var(--main-transition);
}

nav .box-link ul li .icon i {
    transition: var(--main-transition);
    color: var(--color-text);
    padding-right: 10px;
}

nav .box-link ul li::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 3px;
    background-color: var(--color-text-hover);
    top: 112%;
    border-radius: 6px;
    opacity: 0;
}

nav .box-link ul li:hover .icon>i,
nav .box-link ul li:hover::before,
nav .box-link ul li:hover a {
    color: var(--color-text-hover);
    opacity: 1;
}

.dark {
    text-align: center;
    padding: 0 20px;
}

.dark .moon,
.dark .sun {
    font-size: 25px;
    color: var(--color-text);
    transition: var(--main-transition);
    cursor: pointer;
}

.dark .moon:hover,
.dark .sun:hover {
    color: var(--color-text-hover);
}

.dark .sun {
    display: none;
}

/* Start Media For Nav */
@media (max-width: 1050px) {
    .up {
        right: 30px;
    }

    nav .container-me {
        height: 90px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    nav .box-link .side-bar {
        display: block;
        padding-left: 0 !important;
    }

    nav .box-link .layout {
        width: 85%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--White);
        opacity: 0;
        z-index: 99;
        display: none;
        box-shadow: -2px 0px 40px 0px black;
    }

    nav .box-link .layout.show-lay {
        opacity: 1 !important;
        position: fixed;
        height: 101vh !important;
        display: block;
        min-height: 500px;
        background: #2f363e;
        box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
            10px 10px 70px rgba(0, 0, 0, 0.25),
            inset 5px 5px 10px rgba(0, 0, 0, 0.5),
            inset 5px 5px 20px rgba(255, 255, 255, 0.2),
            inset -5px -5px 15px rgba(0, 0, 0, 0.75);

    }

    nav .box-link ul {
        display: inline-block !important;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 350px;
        min-height: 500px;
        padding: 50px;
        background: #2f363e;
        box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
            10px 10px 70px rgba(0, 0, 0, 0.25),
            inset 5px 5px 10px rgba(0, 0, 0, 0.5),
            inset 5px 5px 20px rgba(255, 255, 255, 0.2),
            inset -5px -5px 15px rgba(0, 0, 0, 0.75);
        border-radius: 30px;
        top: 7%;
        left: 5%;
    }

    nav .box-link ul .lists {
        justify-content: start;
        position: relative;
        display: flex;
        align-items: center;
        margin: 5px 0;
        cursor: pointer;
    }

    nav .box-link ul .lists::before {
        content: '';
        position: absolute;
        top: 4px;
        left: -1px;
        width: 45px;
        height: 40px;
        background: #1f83f2;
        border-radius: 22.5px;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
            inset 2px 2px 5px rgba(255, 255, 255, 0.5),
            inset -3px -3px 5px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
        opacity: 1;
    }

    nav .box-link ul li:hover::before {
        width: 100%;
    }

    nav .box-link ul li .icon {
        color: white;
        position: relative;
        min-width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 10px;
    }

    nav .box-link ul li .icon::before {
        content: '';
        position: absolute;
        top: 0;
        left: -4%;
        width: 25px;
        height: 25px;
        background: #2f363e;
        border-radius: 30px;
        transform: scale(0);
        transition: 0.5s;
    }

    nav .box-link ul li:hover .icon::before {
        transform: scale(1.2);
    }

    nav .box-link ul li .icon i {
        position: relative;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: 16px;
        transition: 0.5s;
        margin-right: 30px;
        transform: translateX(3px);
    }

    nav .box-link ul li a {
        position: relative;
        line-height: 1.15rem;
    }

    nav .box-link ul li a h4 {
        font-weight: 600;
        color: #bcbcc0;
        transition: 0.5s;
        transform: translate(-15px, -7px);
    }

    nav .box-link ul li:hover a h4 {
        color: #fff;
    }
}

@media (max-width: 1150px) {
    nav .container-me {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    nav .box-link ul li {
        padding: 10px 10px;
    }
}

@media (max-width: 992px) {
    nav .container-me {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 767px) {
    nav .box-link ul {
        width: 250px;
    }
}

/****************** Start Header **********/
.header .social ul li a>i {
    animation: animate 2s infinite linear;
}

.header .social ul li:nth-child(1)>a>i {
    animation-delay: 0.5s;
}

.header .social ul li:nth-child(2)>a>i {
    animation-delay: 1s;
}

.header .social ul li:nth-child(3)>a>i {
    animation-delay: 1.5s;
}

.header .social ul li a i {
    color: var(--color-text);
    font-size: 20px;
    transition: .5s;
}

.header .social ul li a:hover i {
    color: var(--color-text-hover);
}

.header .image {
    position: relative;
}

.header .image img {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-75%, -50%);
    transition: var(--main-transition);
    z-index: 10;
    width: 150px;
}

.header .image img:hover {
    transform: translate(-95%, -50%) scale3d(1.1, 1.1, 1.1);
    cursor: pointer;
}

@media (max-width: 767px) {

    .header {
        padding-top: 150px !important;

    }

    .header .image img {
        width: 100px;
    }
}

/****************** Start Home **********/
.home .box ul li span {
    color: #3c67e3;
}

.home .box .main {
    display: flex;
    justify-content: start;
    align-items: center;
    width: fit-content;
}

.home .box .main .option {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home .box .main .option li {
    position: relative;
    top: 0;
    animation: slide 4s steps(24) infinite linear;
}

.home .box .main .option li span {
    position: relative;
}

.home .box .main .option li span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color-alt);
    border-left: 2px solid var(--color-text-hover);
    animation: typing 4s steps(24) infinite;
}

.home .box .btn-shadow {
    border: 2px solid var(--color-text);
    border-radius: 6px;
    outline: none;
    position: relative;
    transition: var(--main-transition);
}

.home .box .btn-shadow::before {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    background-color: transparent;
    height: 50%;
    width: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(8px);
    transition: var(--main-transition) ease;
}

.home .box .btn-shadow:hover::before {
    background-color: white;
    top: 60px;
}

.home .box .btn-shadow:hover {
    background-color: var(--color-text);
    color: white;
}

/****************** Start About *************/
.about {
    color: var(--color-text);
}

.about .box-up .about-info {
    transition: var(--main-transition);
}

.about .box-up .cv a {
    background-color: var(--color-text);
    display: inline-block;
    padding: 0.65em 1.6em;
    border: 3px solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    animation: bn13bouncy 5s infinite linear;
    position: relative;
}
.about .box-up .cv :hover{
    background-color: white;
    color: #000000;
    border-color: var(--color-text);
}
@keyframes bn13bouncy {
    0% {
      top: 0em;
    }
    40% {
      top: 0em;
    }
    43% {
      top: -0.9em;
    }
    46% {
      top: 0em;
    }
    48% {
      top: -0.4em;
    }
    50% {
      top: 0em;
    }
    100% {
      top: 0em;
    }
  }
.about .box-up .cv a:active {
    transform: translateY(5px);
    box-shadow: 0 2px 0 0 var(--color-text);
}

/****************** Start Skills *************/
.skills-up {
    background-color: var(--main-color-alt);
}

.skills h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills h2>span {
    background-color: var(--section-background);
    padding: 5px;
    border-radius: 10px;
    color: var(--color-text-hover);
}

.skills .the-progress {
    height: 30px;
    background-color: #eee;
    position: relative;
    border-radius: 20px;
}

.skills .the-progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-text);
    transition: width 0.5s linear;
    border-radius: 20px;
}

@media (max-width: 767px) {}

@media (max-width: 767px) {
    .about .box-up .cv a {
        padding: 10px 20px !important;
    }
}

.data-work,
.data-education {
    display: none;
}

.qualification-active {
    display: block;
}

.qualification .edu-work {
    transition: var(--main-transition);
}

.qualification .edu-work:hover>i,
.qualification .edu-work:hover>h2,
.qualification .edu-work:hover>.spans span i {
    color: var(--color-text-hover);
}

.qualification .edu-work .spans span:nth-child(1) {
    font-size: 17px;
    font-weight: bold;
    color: var(--color-text);
    transition: var(--main-transition);
    cursor: pointer;
}

.qualification .edu-work .spans span:nth-child(1):hover {
    color: var(--color-text-hover);
}

.qualification .edu-work .spans span:nth-child(1)>i {
    transform: translate(15px, 5px);
}

.qualification .edu-work .spans span:nth-child(2) {
    display: none;
    font-size: 17px;
    font-weight: bold;
    color: var(--color-text);
    transition: var(--main-transition);
    cursor: pointer;
}

.qualification .edu-work .spans span:nth-child(2):hover {
    color: var(--color-text-hover);
}

.qualification .edu-work .spans span:nth-child(2)>i {
    transform: translate(15px, 5px);
}

.qualification .edu-work .spans span:nth-child(1).one {
    display: none;
}

.qualification .edu-work .spans span:nth-child(2).two {
    display: block;
}


/****************** Start slide *************/
.slide img {
    height: 450px !important;
}

/****************** Start services *************/
.services-content {
    width: 40%;
    display: inline-block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
    cursor: pointer;
    box-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

.services-content .box {
    padding: 13px 20px;
    border-radius: 3px;
    display: block !important;
    position: relative;
    z-index: 10;
    background-color: #fff;
}

.services-content .box>i {
    font-size: 22px;
}

.services-content .box>span>a {
    text-decoration: none;
}

.services-content:hover .box>span>a>i {
    animation: animate-border .75s linear infinite;
}

@media (max-width: 765px) {
    .services-content {
        width: 70%;
    }
}

/****************** Start Portfolio *************/
.portfolio .container .links li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: var(--main-transition);
    cursor: pointer;
    color: var(--color-text);
}

.portfolio .container .links li.active,
.portfolio .container .links li:hover {
    background-color: #cedadf;
    color: var(--color-text-hover);
}

.portfolio .container .row .box {
    height: 300px !important;
    overflow: hidden;
    margin-bottom: 30px;
}

.portfolio .container .row .box .image-wrapper {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.portfolio .container .row .box .image-wrapper img {
    width: 100%;
    height: 100%;
    transition: var(--main-transition);
    border-radius: 30px;
}

.portfolio .container .row .box .image-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent 40%, #000);
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 10px 20px 20px;
    opacity: 0;
    transition: var(--main-transition);
}

.portfolio .container .row .box .image-wrapper .overlay a {
    transform: translateY(100px);
    transition: transform var(--main-transition);
    transition-delay: 0.1s;
}

.portfolio .container .row .box .image-wrapper:hover img {
    transform: scale(1.15);
}

.portfolio .container .row .box .image-wrapper:hover .overlay {
    opacity: 1;
}

.portfolio .container .row .box .image-wrapper:hover .overlay a {
    transform: translate(0);
}

/*-------------------- Start Project ----------------*/
.project .container .button-contact a {
    display: inline-block;
    text-decoration: none;
    padding: 14px 24px;
    color: var(--color-text-hover);
    border: 1px solid var(--color-text-hover);
    overflow: hidden;
    position: relative;
    transition: color .5s .25s;
    border-radius: 8px;
}

.project .container .button-contact a::before,
.project .container .button-contact a::after {
    content: "";
    position: absolute;
    top: 0;
    width: 55%;
    height: 100%;
    background-color: var(--color-text-hover);
    z-index: -1;
    transform: scaleX(0);
    transition: transform .5s cubic-bezier(.785, .135, .15, .86);
}

.project .container .button-contact a::before {
    left: 0;
    transform-origin: left;
}

.project .container .button-contact a::after {
    right: 0;
    transform-origin: right;
}

.project .container .button-contact a:hover::before,
.project .container .button-contact a:hover::after {
    transform: scaleX(1);
}

.project .container .button-contact a:hover {
    color: #fff;
    transition-delay: .5s;
}

.project .container .image-project img {
    transition: .5s;
}

.project .container .image-project img:hover {
    transform: scale(1.05);
}

/*-------------------- Start Testimonial ----------------*/
.testimonial-pepole {
    font-family: "Poppins", sans-serif;
}

.testimonial-pepole .container>h2 {
    font-size: 45px;
    font-weight: 700;
}

.testimonial-pepole .container>p {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #3e64ff;
}

.testimonial-pepole .container .single-person {
    margin-top: 30px;
    padding: 30px;
    background-color: #f6f9ff;
    border-radius: 5px;
    transition: var(--main-transition);
}

.testimonial-pepole .container .single-person:hover {
    background: linear-gradient(to right, #016cec, #00b5f7);
}

.testimonial-pepole .container .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding var(--main-transition);
}

.testimonial-pepole .container .single-person:hover .person-image {
    padding: 12px;
    border: 4px dashed #fff;
}

.testimonial-pepole .container .single-person .person-image img {
    width: 100%;
    border-radius: 50%;
}

.testimonial-pepole .container .single-person .person-image .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #016cec, #00b5f7);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
    transition: var(--main-transition);
}

.testimonial-pepole .container .single-person:hover .person-image .icon {
    background: none;
    background-color: #fff;
    color: #016cec;
}

.testimonial-pepole .container .single-person .person-info .full-name {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
    transition: var(--main-transition);
}

.testimonial-pepole .container .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #016cec;
    transition: var(--main-transition);
}

.testimonial-pepole .container .single-person:hover .ful-name,
.testimonial-pepole .container .single-person:hover .speciality {
    color: #fff;
}

/*-------------------- Start Contact Form ----------------*/
.contact .container form {
    margin-top: 100px;
}

.contact .container form .input {
    margin-bottom: 30px;
    position: relative;
}

.contact .container form .input textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
    border-bottom: 1px solid #adadad;
    transition: var(--main-transition);
    border-radius: 3px;
}

.contact .container form .input input {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    padding: 15px;
    border-bottom: 1px solid #adadad;
    transition: var(--main-transition);
    border-radius: 3px;
}

.contact .container form .input label {
    color: var(--color-text);
    position: absolute;
    left: 27%;
    top: 25%;
    transition: var(--main-transition);
}

.contact .container form .textarea label {
    color: var(--color-text);
    position: absolute;
    left: 27%;
    top: 8%;
    transition: var(--main-transition);
}

.contact .container form .input input:focus,
.contact .container form .input textarea:focus {
    border-bottom-color: black;
}

.contact .container form .input input:focus~label,
.contact .container form .input textarea:focus~label {
    top: -30px;
    color: black;
}

/****************** Start Form *************/
.contact .container form .input input {
    height: 50px;
    width: 50%;
}

.contact .container form .input textarea {
    width: 50%;
}

/****************** Start Footer *************/
footer .social .icon {
    /* text-decoration: none; */
    position: relative;
    display: inline-flex;
    cursor: pointer;
}

footer .social .icon i {
    font-size: 36px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%,
            #fdf497 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .social .icon::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translate(-50%, 3px);
    visibility: hidden;
    transition: .2s;
    padding: 2px 5px;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--color-text-hover);
}

footer .social .icon:hover::after {
    transform: translate(-50%, 0);
    visibility: visible;
}

/****************** Start Animations *************/
@keyframes up {

    0%,
    100% {
        transform: translateY(4px);
    }

    50% {
        transform: translateY(-2px);
    }
}

@keyframes lock {

    0%,
    100% {
        transform: translateY(30px);
    }

    50% {
        transform: translateY(-30px);
    }
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 15px #5ddcff, 0 0 30px #4e00c2;
    }
}

@keyframes animate-border {
    to {
        transform: translateX(50%);
    }
}

@keyframes slide {
    from {
        width: fit-content;
    }

    to {
        width: 0;
    }
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

@keyframes animate {
    50% {
        transform: translateX(-25px);
    }
}